node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env.local
.env.vercel
test-results/
.env.development
.env.production

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# PWA dev
dev-dist/
